{% load staticfiles %}
<html>
    <head>
        <title>Tareas Asignados</title>
        <link rel="stylesheet" href="//maxcdn.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap.min.css">
        <link rel="stylesheet" href="//maxcdn.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap-theme.min.css">
        <link href='//fonts.googleapis.com/css?family=Lobster&subset=latin,latin-ext' rel='stylesheet' type='text/css'>
        <link rel="stylesheet" href="{% static 'css/tarea.css' %}">
        <link rel="stylesheet" href="{% static 'css/960.css' %}">
        <link rel="stylesheet" href="{% static 'css/reset.css' %}">
        <link rel="stylesheet" href="{% static 'css/css/text.css' %}">
        <style type="text/css">h1{
            font-size: 150%;
            }</style>
    </head>
    <body>
        <div class="page-header">
            <a href="{% url 'apps.tarea.views.list_task' %}" class="top-menu"></a>
            <h1><a href="{% url 'apps.tarea.views.list_task' %}">Tareas Asignados</a></h1>
        </div>
        <div class="container_12">
            <div class="grid_4 ">
                <div class="col-md-8">
                <h1>Pendientes</h1>
                </div>
            </div>
            <div class="grid_4 ">
                <div class="col-md-8">
                <h1>Proceso</h1>
                </div>
            </div>
            <div class="grid_4 ">
                <div class="col-md-8">
                <h1>Terminados</h1>
                </div>
            </div>
            <div class="clear"></div>
            <br/>
            <div class="grid_4" id="izq1">
                {% block content %}
                {% endblock %}
            </div>
            <div class="grid_4" id="izq2">
                <h2><a>tareas pendientes</a></h2>
            </div>
            <div class="grid_4" id="izq3">
                <h2><a>tareas terminadas</a></h2>
            </div>
            <div class="clear"></div>
        </div>
    </body>
</html>