{% load staticfiles %}
<html>    
    <head>
        <title>Tareas Asignados</title>
        <link rel="stylesheet" href="//maxcdn.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap.min.css">
        <link rel="stylesheet" href="//maxcdn.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap-theme.min.css">
        <link href='//fonts.googleapis.com/css?family=Lobster&subset=latin,latin-ext' rel='stylesheet' type='text/css'>
        <link rel="stylesheet" href="{% static 'css/tarea.css' %}">
        <link rel="stylesheet" href="{% static 'css/960.css' %}">
        <link rel="stylesheet" href="{% static 'css/reset.css' %}">
        <link rel="stylesheet" href="{% static 'css/css/text.css' %}">
        <style type="text/css">h1{
            font-size: 200%;
            }</style>
    </head>
    <body>
        <div class="page-header">
            <a href="{% url 'apps.tarea.views.list_task' %}" class="top-menu"></a>
            <h1><a href="{% url 'apps.tarea.views.list_task' %}">Tareas Asignados</a></h1>
        </div>
        <div class="container_12">
            <div class="prefix_5 grid_7">
                <h1>{{ tarea.tarea_nombre }}</h1>
            </div>  
            <br/>
            <br/>
            <div class="clear"></div>  
            <div class="prefix_4 grid_9">
                <p>{{ tarea.tarea_descripcion }}</p>
                <div class="clear"></div>
                <br/>
                <p>Completada: {{ tarea.concluido}}</p>
                {% if tarea.tarea_data_inicio %}
                    <div class="date">
                        {{ tarea.tarea_data_inicio }}
                    </div>
                {% endif %}
            </div>   
        </div>      
    </body>
</html>
