{% load staticfiles %}
{% block content %}	    
	<!DOCTYPE html>
	<html lang="es-es" >
	<head>
	<title>Proyecto administración | Sitio de administración de SCRUM</title>
    <link rel="stylesheet" href="//maxcdn.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap.min.css">
    <link rel="stylesheet" href="//maxcdn.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap-theme.min.css">
    <link href='//fonts.googleapis.com/css?family=Lobster&subset=latin,latin-ext' rel='stylesheet' type='text/css'>
    <link rel="stylesheet" type="text/css" href="/static/admin/css/base.css" />
	<link rel="stylesheet" type="text/css" href="/static/admin/css/dashboard.css" />
    <link rel="stylesheet" href="{% static 'css/tarea.css' %}">
    <link rel="stylesheet" href="{% static 'css/960.css' %}">
    <link rel="stylesheet" href="{% static 'css/reset.css' %}">
    <link rel="stylesheet" href="{% static 'css/css/text.css' %}">
	<script type="text/javascript">window.__admin_media_prefix__ = "/static/admin/";</script>
	<script type="text/javascript">window.__admin_utc_offset__ = "\u002D18000";</script>
	<meta name="robots" content="NONE,NOARCHIVE" />
	</head>
	<body class=" dashboard app-proyecto">
	<!-- Container -->
	<div id="container">	    
	    <!-- Header -->
	    <div id="header">
	        <div id="branding">	        
	<h1 id="site-name"><a href="/admin/">Administración de SCRUM</a></h1>
	        </div>	        
	        <div id="user-tools">
	            
	                Bienvenido/a,
	                <strong>admin</strong>.
	                    <a href="/">Ver el sitio</a> / 
	                <a href="/admin/password_change/">Cambiar contraseña</a> / 
	                <a href="/admin/logout/">Terminar sesión</a>     
	        </div>  
	    </div>
	    <!-- END Header -->	    
	<div class="breadcrumbs">
	<a href="/admin/">Inicio</a>
	&rsaquo;
	Proyecto
	</div>
	    <!-- Content -->
	    <div id="content" class="colMS">	        
	        <h1>Proyecto administración</h1>	        
	<div id="content-main">
	        <div class="app-proyecto module">
	        <table>
	        <caption>
	            <a href="" class="section" title="Modelos en la aplicación Proyecto">Proyecto</a>
	        </caption>        
	            <tr class="model-proyecto">	            
	                <th scope="row"><a href="/admin/proyecto/proyecto/">Proyectos</a></th>            
	                <td><a href="/admin/proyecto/proyecto/add/" class="addlink">Añadir</a></td>     
	                <td><a href="/admin/proyecto/proyecto/" class="changelink">Modificar</a></td>	            
	            </tr>   
	        </table>
	        </div>
	</div>  
	        <br class="clear" />
	    </div>
	    <!-- END Content -->

	    <div id="footer"></div>
	</div>
	<!-- END Container -->

	</body>
	</html>
{% endblock content %}
